<div class = "white-container">
  <h2>Gerenciar <strong>Listas de Desejos</strong></h2>
  <small>Use a tabela abaixo para visualizar, editar ou excluir suas listas de desejos. Use o botão no canto inferior direito para adicionar uma nova lista de desejos.</small>
  
  <hr>
  
  <table class = "table table-responsive-sm table-hover table-striped table-bordered">
    <thead style = "background-color: #1a96ff; color: white;">
      <tr>
        <th scope="col"><center>Nome</center></th>
        <th scope="col"><center>Descrição</center></th>
        <th scope="col"><center>Link Personalizado</center></th>
        <th colspan="2"><center>Configurações</center></th>
      </tr>
    </thead>
  
    <tbody>
      <% @wishlists.each do |i| %>
        <tr>
          <td><strong><%= link_to i.nome, i %></strong></td>
          <td><%= i.desc %></td>
          <td><a href = <%= current_user.username + "/" + i.link %> target = "_blank"><%= current_user.username + "/" + i.link %></a></td>
          <td><%= link_to 'Editar', edit_wishlist_path(i) %></td>
          <td><%= link_to 'Excluir', i, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <button class = "btn botao-flutuante" data-toggle="modal" data-target="#formNewWishlist">
    <center><i class="fas fa-plus"></i></center>
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="formNewWishlist" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Adicionar lista de presentes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% wishlist = Wishlist.new %>
      <%= form_with(model: wishlist, local: true) do |form| %>
          <div class="modal-body">
        
              <% if wishlist.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h2>
            
                  <ul>
                  <% wishlist.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              
              <%= form.hidden_field(:user_id, :value => current_user.id) %>
            
              <div class="field">
                <small>Nome: </small>
                <%= form.text_field :nome, class: "form-control" %>
              </div>
            
              <div class="field">
                <small>Descrição:</small>
                <%= form.text_area :desc, class: "form-control" %>
              </div>
            
              <div class="field">
                <small>Link Personalizado:</small>
                <%= form.text_field :link, class: "form-control" %>
                <small style = "font-size: 0.65em">
                  - Permitido apenas letras minúsculas (sem espaços, números ou caracteres especiais). <br/>
                  - O link deve ser único.<br/>
                </small>
              </div>
           
          </div>
          <div class="modal-footer">
              <%= form.submit "Criar lista", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>