<div class = "white-container">
  <h2>Gerenciar '<strong><%= @wishlist.nome %></strong>'</h2>
  <small>Use a tabela abaixo para visualizar, editar ou excluir sua lista de desejos. Use o botão no canto inferior direito para adicionar uma nova lista de desejos.</small>
    
  <hr>
  <h4>Informações da Lista: </h4>  
  <strong>Nome: </strong><%= @wishlist.nome %><br/>
  <strong>Descrição: </strong><%= @wishlist.desc %><br/>
  <strong>Link para compartilhar: </strong> <a href = <%= root_path + current_user.username + "/" + @wishlist.link %> target = "_blank"><%= root_path + current_user.username + "/" + @wishlist.link %></a>
  
  <hr>
  
  <h4>Itens da Lista: </h4>
  <table class = "table table-sm table-responsive table-hover table-striped table-bordered">
    <thead style = "background-color: #1a96ff; color: white;">
      <tr>
        <th scope="col" style = "min-width: 175px;"><center>Nome</center></th>
        <th scope="col"><center>Imagem</center></th>
        <th scope="col"><center>Link</center></th>
        <th scope="col"><center>Preço</center></th>
        <th scope="col"><center>Descrição</center></th>
        <th scope="col"><center>Nível de Desejo</center></th>
        <th scope="col"><center>Ativo</center></th>
        <th colspan="2"><center>Configurações</center></th>
      </tr>
    </thead>
  
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><strong><%= item.nome %></strong></td>
          <td><center><img width = "150" height = "auto" src=<%= item.link_img %>></center></td>
          <td><small><a href = <%= item.link_prod %>><%= item.link_prod %></a></small></td>
          <td><strong><%= number_to_currency(item.preco, unit: "R$", separator: ",", delimiter: ".") %></strong></td>
          <td><small><%= item.desc %></small></td>
          <td><%= item.wishlevel %></td>
          <td><center><%= trueToSim(item.ativo) %></center></td>
          <td><%= link_to 'Editar', edit_item_path(item) %></td>
          <td><%= link_to 'Excluir', item, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <button class = "btn botao-flutuante" data-toggle="modal" data-target="#formNewItem">
    <center><i class="fas fa-plus"></i></center>
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="formNewItem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Adicionar itens em '<strong><%= @wishlist.nome %></strong>'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% item = Item.new %>
      
      <%= form_with(model: item, local: true) do |form| %>
        <div class="modal-body">
            <% if item.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
          
                <ul>
                <% item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            
            <%= form.hidden_field(:wishlist_id, :value => @wishlist.id) %>
            
            <div class="field">
              <small>Nome:</small> <br />
              <%= form.text_field :nome, class: "form-control" %>
            </div>
          
            <div class="field">
              <small>Link da Imagem:</small> <br />
              <%= form.text_field :link_img, class: "form-control" %>
            </div>
          
            <div class="field">
              <small>Link do Produto:</small> <br />
              <%= form.text_field :link_prod, class: "form-control" %>
            </div>
          
            <div class="field">
              <small>Preço:</small> <br />
              <%= form.number_field :preco, class: "form-control" %>
            </div>
          
            <div class="field">
              <small>Descrição:</small> <br />
              <%= form.text_area :desc, class: "form-control" %>
            </div>
          
            <div class="field">
              <small>Nível de Desejo:</small> <br />
              <%= form.range_field :wishlevel, in: 1..6, value: 4, class: "form-control" %>
            </div>
          
            <div class="field">
              <small>Ativo?</small> <br />
              <%= form.check_box :ativo, checked: true %>
            </div>

        </div>
        
        <div class="modal-footer">
            <%= form.submit "Criar item", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>