<!DOCTYPE html>
<html>
  <head>
    <title>Eu quero!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/briefing.png" type="image/x-icon">
    <link rel="icon" href="/assets/briefing.png" type="image/x-icon">
    
    <!-- Importação do FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
  </head>

  <body>
    <%= render "shared/alert" %> 
    
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
    
    <div class = "container dashboard-container" style = "min-height: 90vh;">
      <%= yield %>
    </div>
  </body>
</html>
